body {
	margin: 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: #123 url('./pic/bg.jpg?v=1') 0 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	padding: 0 1rem;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 20vh;
}

.title {
	margin-top: 18vh;
	padding-bottom: .25em;
}

.title em,
.title code {
	font-weight: normal;
}

.gap {
	margin-bottom: 25vh;
}

.center {
	text-align: center;
}

.name {
	margin: 0 0 2rem;
	padding: 1rem 0;
	font-weight: bold;
	font-family: monospace;
	font-size: 20px;
}

.name:target {
	background-color: #ff0;
	color: #000;
}

.demo-block {
    background: #000;
    position: relative;
}

.demo-block::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border: 1px solid rgba(255, 255, 255, .3);
    pointer-events: none;
}

.demo-block__img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.demo-block__inner {
    min-height: 120px;
}

.fade-in {
	opacity: 0;
}

.fade-in[data-zzload-is-loaded] {
	opacity: 1;
	transition: opacity .6s ease .2s;
}

.fade-in[data-zzload-is-failed] {
	opacity: 1;
	background: #400;
	transition: opacity .6s ease .2s;
}

.statuses {
	display: flex;
	justify-content: center;
}

.statuses span {
	display: inline-block;
	vertical-align: top;
	padding: 3px 5px;
	opacity: .4;
	font-family: monospace;
	margin: 0 3px 6px;
}

.statuses .is-active {
	opacity: 1;
}

.statuses .is-active[data-status="observed"] {
	background-color: #00f;
	color: #fff;
}

.statuses .is-active[data-status="processed"] {
	background-color: #ff0;
	color: #000;
}

.statuses .is-active[data-status="loaded"] {
	background-color: green;
	color: #fff;
}

.statuses .is-active[data-status="failed"] {
	background-color: #f00;
	color: #fff;
}


.small-controls {
	display: flex;
	justify-content: space-between;
	font-family: monospace;
}

.small-controls a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

.small-controls a:not(:hover) {
	opacity: .6;
}

.small-controls > * + * {
	margin-left: 2rem;
}

.container pre[class*="language-"] {
	background-color: #0e0e0e;
}

.container div.code-toolbar > .toolbar {
	opacity: .3;
}

.container div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

.container .token.entity,
.container .token.operator {
	background-color: transparent;
}
